<main role="main">

  <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4" *ngFor="let product of products">
            
            <div class="card mb-4 shadow-sm">
              <a  [routerLink]="['/product',{id:product.ProductId}]" ><img src="{{product.ProductPicUrl}}" class="bd-placeholder-img card-img-top" width="100%" height="225" ></a>
              <div class="card-body">
                <p class="card-text">{{product.Name}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary" [ngStyle]="{'font-size': '20px'}" (click)="wishCount = wishCount + 1 ; wishStyle={'color':'red'} " ><i class="material-icons" [ngStyle]="wishStyle">favorite</i></button>
                    <button class="btn btn-sm btn-outline-secondary" [ngStyle]="{'font-size': '20px'}" (click)="cardCount = cardCount + 1 ; cardStyle={'color':'yellow'}" [routerLink]="['/cart',{id:product.ProductId}]"><i class="material-icons" [ngStyle]="cardStyle">add_shopping_cart</i></button>
                  </div>
                  <strong [ngStyle]="{'color':'green'}">{{product.Price}}$</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>